{{> header }}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 profile">
            <h1>Profile</h1>
            <ul>
                <li><strong>Username</strong>: {{username}}</li>
                <li><strong>First name</strong>: {{firstname}}</li>
                <li><strong>Surname</strong>: {{surname}}</li>    
            </ul>
        </div>
        <div class="col-12 text-center">    
            <img src='{{userPic}}' alt="{{username}}'s profile picture" class="profile-pic" />
        </div>
    </div>
    
</div>